{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "16.7.0-alpha.2"
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/prop-types": ["0"],
    "no-console": 0,
    "react/no-unescaped-entities": 0,
    "react/display-name": 0
  }
}
