.squarecat-widget {
  position: fixed;
  right: 25px;
  bottom: 20px;
  width: 55px;
  height: 60px;
  z-index: 9;
  border-bottom: none;
  cursor: pointer;
}

.container {
  padding-left: 24px;
  padding-right: 44px;
  max-width: 1128px;
  margin: 0 auto;
}

.squarecat-widget:hover {
  transform: translateY(-2px);
  transition: transform 100ms ease-in-out;
}

.squarecat-widget__colin {
  width: 100%;
}

.squarecat-widget__bubble {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  min-height: 150px;
  line-height: 20px;
  background-color: rgb(255, 232, 95);
  z-index: 8;
  box-shadow: inset 0 7px 15px -7px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 200ms ease-in-out, opacity 1ms 200ms ease-in-out;
  color: black;
  padding: 20px 0;
}

.squarecat-widget__bubble--shown {
  transform: translateY(0);
  transition: transform 200ms ease-in-out, opacity 1ms 0ms ease-in-out;
  opacity: 1;
}

.squarecat-widget__bubble > .container {
  padding-right: 90px;
}

@media screen and (min-width: 700px) {
  .squarecat-widget__bubble > .container {
    padding-right: 44px;
  }
}

@media screen and (max-width: 400px) {
  .squarecat-widget {
    display: none;
  }
}

.meow {
  opacity: 0.2;
  font-size: 12px;
  animation: meows 10s infinite;
  position: absolute;
  top: 0;
  color: #5b6f82;
}
.meow-right {
  opacity: 0;
  animation: meowsright 10s 5s infinite;
}

.squarecat-widget__bubble--shown + .squarecat-widget .meow {
  display: none;
}

@keyframes meows {
  0% {
    opacity: 0.2;
    transform: translate(-5px, -5px) scale(0);
  }
  10% {
    opacity: 0.7;
    transform: translate(-35px, -35px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translate(-35px, -35px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-35px, -35px) scale(1);
  }
}

@keyframes meowsright {
  0% {
    opacity: 0.2;
    transform: translate(5px, -5px) scale(0);
  }
  10% {
    opacity: 0.7;
    transform: translate(35px, -35px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translate(35px, -35px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(35px, -35px) scale(1);
  }
}
